.paragraph-text {
    &.has-background {
        background-color: var(--color-background);
    }

    .text-content-wrapper {
        margin: 4rem auto;

        @include media-breakpoint-up(sm) {
            margin: 8rem auto;
        }
    }
}