.paragraph-quote {
    .inner {
        position: relative;
        isolation: isolate;
        padding-inline: 2rem;

        .field--name-field-image {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: -1;

            img {
                height: 100%;
                object-fit: cover;
                border-radius: $border-radius;
            }
        }
    }
}