.page-node-type-homepage {
    .header-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include media-breakpoint-up(md) {
            min-height: 80vh;
        }
    }
}