{#
/**
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
**/
#}

{% set classes = [
    'layout',
    'paragraph-text',
    'section-spacing-margin',
] %}

{% if content.field_has_background.0|render == 'true' %}
    {% set classes = classes|merge(['has-background', 'section-spacing-padding']) %}
{% endif %}

{% if content %}
    <section{{ attributes.addClass(classes) }}>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    {{ content.body_wrapper }}
                </div>
            </div>
        </div>
    </section>
{% endif %}