{#
/**
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
**/

    Regions:
    hidden_fields
    image_wrapper
    body_content
#}
{% set rowAttributes = create_attribute() %}

{% set classes = [
    'layout',
    'paragraph-text-with-image',
    'section-spacing-margin',
] %}

{% set rowClasses = [
    'row',
    'd-flex',
    'justify-content-center',
    'align-items-center',
] %}

{% if content.field_reverse_order.0|render == 'true' %}
    {% set rowClasses = rowClasses|merge(['flex-lg-row-reverse']) %}
{% endif %}

{% if content %}
    <section{{ attributes.addClass(classes) }}>
        {% if content.body_wrapper|render %}
            <div class="container">
                <div {{ rowAttributes.addClass(rowClasses) }}>
                    {% if content.image_wrapper|render %}
                        <div class="col-md-12 col-lg-5 mb-5 mb-lg-0 {{ (content.field_reverse_order.0|render == 'true') ? 'offset-lg-1' }}">
                            {{ content.image_wrapper }}
                        </div>
                    {% endif %}

                    <div class="col-md-10 col-lg-6 {{ (content.field_reverse_order.0|render == 'false') ? 'offset-lg-1' }}">
                        {{ content.body_wrapper }}
                    </div>
                </div>
            </div>
        {% endif %}
    </section>
{% endif %}