{#
/**
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
**/
#}

{% set classes = [
    'layout',
    'section-spacing-margin',
    'paragraph-quote'
] %}

{% if content %}
    <section{{ attributes.addClass(classes) }}>
        <div class="container">
            <div class="inner section-spacing-padding">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto">
                        {{ content.body_wrapper }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}