{#
/**
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
**/
#}

{% set classes = [
    'layout',
    'section-spacing-margin',
    'paragraph-teasers'
] %}

{% if content %}
    <section{{ attributes.addClass(classes) }}>
        <div class="container">
            <div class="row">
                {% if content.title|render %}
                    <div class="col-12">
                        {{ content.title }}
                    </div>
                {% endif %}

                {% if content.teasers|render %}
                    <div class="col-12">
                        {{ content.teasers }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}