{#
/**
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
**/
#}

{% set classes = [
    'layout',
    'paragraph-fullwidth-image',
    'section-spacing-margin'
] %}

{% if content %}
    <section{{ attributes.addClass(classes) }}>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {{ content.image_wrapper }}
                </div>
            </div>
        </div>
    </section>
{% endif %}