{% set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
] %}

{% if multiple %}
    <ul{{ attributes.addClass(classes, 'field__items, row') }}>
        {% for item in items %}
            <li{{ item.attributes.addClass('field__item, col-md-4') }}>{{ item.content }}</li>
        {% endfor %}
    </ul>
{% else %}
    {% for item in items %}
        <div{{ attributes.addClass(classes, 'field__item') }}>{{ item.content }}</div>
    {% endfor %}
{% endif %}
