/*
	Main layout for the content area of the theme, between header and footer.
*/

#page-wrapper {
    overflow-x: hidden;
}

.text-formatted {
    @include ckeditor();
}

.field--name-body {
    @include ckeditor();
}
