#copyright {
    font-size: 0.875em;
    @include dark-theme;
    background-color: var(--color-primary);
    padding-block: 3rem;

    @include media-breakpoint-up(md) {
        padding-block: 1.5rem;
    }

    > .container {
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up(md) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        nav {
            margin-bottom: 1.5rem;

            @include media-breakpoint-up(md) {
                margin-bottom: 0;
            }

            > ul {
                display: flex;
                flex-direction: column;

                @include media-breakpoint-up(md) {
                    flex-direction: row;
                }

                li {
                    margin-right: 3rem;
                }
            }
        }
    }

    a {
        &:hover,
        &:focus,
        &.is-active {
            color: var(--color-secondary);
        }
    }

    a.build-by {
        display: flex;
        align-items: center;
        text-decoration: none;

        &:hover,
        &:focus {
            span.icon-logo-ef2 {
                &:before {
                    background-color: var(--color-secondary);
                }
            }
        }

        span.icon-logo-ef2 {
            font-size: 0;

            &:before {
                @include icon($icon-name: 'logo-ef2', $icon-color: var(--color-white), $icon-size: 1.875rem);
                margin-left: 0.5rem;
            }
        }
    }
}