footer {
    .inner-footer {
        @include dark-theme;
        background-color: var(--color-secondary);
        padding-block: 3rem;

        @include media-breakpoint-up(md) {
            padding-block: 4.5rem;
        }

        h2 {
            @include h4;
        }

        .region-footer {
            @include media-breakpoint-up(md) {
                @include make-row();
            }

            .block-system-branding-block {
                margin-bottom: 3rem;

                @include media-breakpoint-up(md) {
                    @include make-col-ready();
                    @include make-col(4)
                }

                @include media-breakpoint-up(lg) {
                    @include make-col-ready();
                    @include make-col(6)
                }
            }

            nav, #block-contact-info {
                @include media-breakpoint-up(md) {
                    @include make-col-ready();
                    @include make-col(4)
                }

                @include media-breakpoint-up(lg) {
                    @include make-col-ready();
                    @include make-col(3)
                }
            }

            nav {
                ul {
                    margin-bottom: 1.5rem;
                }
            }

            #block-contact-info {
                p:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

    }
}