header {
    position: relative;
    z-index: 10;

    .region-header {
        @include full-width-background(var(--color-white));
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-block: 1rem;
        isolation: isolate;
        z-index: 0;

        &:before {
            box-shadow: 0 2px 2px 0 #CCCED233;
            z-index: unset;
        }

        .block-system-branding-block {
            position: relative;
        }
    }
}


