/*
	Styling for menu's
*/

nav {
    ul.menu {
        margin: 0;

        li {
            list-style: none;
            padding: 0;

            &.menu-item--active-trail {
                > a,
                > button {
                    color: var(--color-primary);
                }
            }

            & > button {
                position: relative;

                &:after {
                    @include icon($icon-name: 'chevron-down', $icon-size: 0.75em);
                    position: absolute;
                    right: 0;
                }
            }

            a, button {
                text-decoration: none;
                display: inline-block;

                &:hover,
                &:focus,
                &.is-active {
                    color: var(--color-primary);
                }
            }
        }
    }
}

//Mainmenu
body {
    @include media-breakpoint-between(xs, lg) {
        /*
            Hamburger with menu-toggle is visible
        */

        .menu--main {
            position: fixed;
            overflow-y: auto;
            width: 100%;
            left: 0;
            top: 0;
            background-color: var(--color-white);
            min-height: 100vh;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s;
            z-index: -1;

            & > ul.menu {
                @include make-container();
                @include make-container-max-widths();
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 10rem;
                padding-bottom: 5rem;

                & > li {
                    opacity: 0;
                    transition: all .0s;
                    transition-delay: 0s;
                    border-bottom: 1px solid #E6E9EA;

                    &:last-of-type {
                        border: none;
                    }

                    a:not(.btn-primary),
                    button {
                        color: var(--color-text);
                        width: 100%;

                        &:hover,
                        &:focus {
                            color: var(--color-primary);
                        }
                    }

                    & > a:not(.btn-primary),
                    & > button {
                        display: inline-flex;
                        align-items: center;
                        font-weight: $font-weight-bold;
                        padding-block: 1em;
                    }

                    & > a.btn-primary {
                        margin-block: 1em;
                    }

                    &.menu-item--active-trail {
                        .is-active {
                            color: var(--color-primary);
                        }
                    }

                    // Submenu
                    &.menu-item--expanded {
                        &.open {
                            & > button {
                                color: var(--color-primary);

                                &:after {
                                    transform: rotate(-180deg);
                                }
                            }

                            .submenu {
                                visibility: visible;
                                opacity: 1;
                                max-height: 35rem;

                                ul.menu {
                                    opacity: 1;
                                    transition-duration: 0.1s;
                                    transition-delay: 0s;
                                }
                            }
                        }

                        & > button {
                            display: inline-flex;
                            align-items: center;
                        }

                        .submenu {
                            visibility: hidden;
                            opacity: 0;
                            max-height: 0;
                            overflow: hidden;
                            transition: all 0.3s ease-in-out;
                            padding-left: 1em;

                            ul.menu {
                                opacity: 0;

                                li {
                                    a, button {
                                        margin-bottom: 1em;

                                        &:hover,
                                        &:focus {
                                            color: var(--color-primary);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.main-menu-active {
            position: fixed;
            max-width: 100vw;
            width: 100%;

            .menu--main {
                visibility: visible;
                opacity: 1;

                & > ul.menu {
                    & > li {
                        opacity: 1;
                        transition-duration: 0.8s;
                        transition-delay: 0.2s;
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .menu--main {
            & > ul.menu {
                display: flex;
                align-items: center;
                padding-right: -0.5rem;
                padding-left: -0.5rem;

                @include media-breakpoint-up(xl) {
                    padding-right: -1rem;
                    padding-left: -1rem;
                }

                & > li {
                    display: inline-block;
                    position: relative;

                    a:not(.btn-primary), button {
                        color: var(--color-text);

                        &:hover,
                        &:focus {
                            color: var(--color-primary);
                        }
                    }

                    & > a,
                    & > button {
                        padding-right: 0.5rem;
                        padding-left: 0.5rem;
                        font-weight: $font-weight-bold;
                        text-align: center;

                        @include media-breakpoint-up(xl) {
                            padding-right: 1rem;
                            padding-left: 1rem;
                        }
                    }
                }

                li {
                    // Submenu
                    &.menu-item--expanded {
                        &.open {
                            & > button {
                                color: var(--color-primary);

                                &:after {
                                    transform: rotate(-180deg);
                                }
                            }

                            .submenu {
                                visibility: visible;
                                opacity: 1;

                                ul.menu {
                                    opacity: 1;
                                    transition-duration: 0.1s;
                                    transition-delay: 0s;
                                }
                            }
                        }

                        & > button {
                            display: inline-flex;
                            align-items: center;

                            &:after {
                                @include icon($icon-name: 'chevron-down', $icon-size: 0.777em);
                                margin-left: 0.5em;
                            }
                        }

                        .submenu {
                            position: absolute;
                            top: 100%;
                            padding: 1rem;
                            background-color: var(--color-white);
                            width: 300px;
                            opacity: 0;
                            visibility: hidden;
                            transition: all 0.1s ease-in-out, visibility 0.1s ease-in-out;

                            ul.menu {
                                opacity: 0;

                                li:not(:last-of-type) {
                                    margin-bottom: 0.5em;
                                }
                            }
                        }
                    }

                    &.menu-item--active-trail {
                        & > button,
                        & > a {
                            color: var(--color-primary);
                        }
                    }
                }
            }
        }
    }
}


