#sliding-popup {
    right: math.div($grid-gutter-width, 2);
    left: math.div($grid-gutter-width, 2);
    padding-bottom: math.div($grid-gutter-width, 2);

    @include media-breakpoint-up(md) {
        right: $grid-gutter-width;
        left: $grid-gutter-width;
        padding-bottom: $grid-gutter-width;
    }
}

.eu-cookie-compliance-banner {
    background-color: var(--color-background);
    padding: 1.5rem;

    @include media-breakpoint-up(lg) {
        padding: 2rem;
    }

    h2 {
        @include h3;
        color: var(--color-text);
    }

    .eu-cookie-compliance-content {
        max-width: none;

        @include media-breakpoint-up(lg) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .eu-cookie-compliance-message {
            float: none;
            max-width: none;
            margin-bottom: 2rem;

            @include media-breakpoint-up(lg) {
                margin-bottom: 0;
                margin-right: $grid-gutter-width;

            }

            p:last-of-type {
                margin-bottom: 0;
            }
        }

        .eu-cookie-compliance-buttons {
            float: none;
            max-width: none;
            display: flex;

            button {
                white-space: nowrap;
            }

            .agree-button {
                all: unset;
                cursor: pointer;
                @include btn-primary;
                margin-right: $grid-gutter-width;
            }

            .decline-button {
                all: unset;
                cursor: pointer;
                @include btn-primary;
                margin-right: 0;
            }
        }
    }
}