@use "sass:color";

@mixin btn {
    display: inline-flex;
    position: relative;
    color: var(--color-white);
    font-size: $btn-font-size;
    font-family: $btn-font-family;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    padding: $btn-padding-y $btn-padding-x;
    border-radius: $btn-border-radius;
    border: 2px solid transparent;
    transition: $btn-transition;
    text-align: center;
    text-decoration: none;
    margin: 0.25em 0.5em 0.25em 0;
    outline-offset: 4px;

    &:not(:disabled):hover,
    &:not(:disabled):focus {
        color: var(--color-white);
        box-shadow: 0 4px 4px 0 color.adjust(map-get($colors, 'black'), $alpha: -0.8);
    }

    &:not(:disabled):focus-visible {
        outline: 1px dashed transparent;
    }
}

@mixin btn-primary {
    @include btn;
    background: var(--color-primary);

    &:not(:disabled):hover,
    &:not(:disabled):focus {
        border-color: var(--color-primary-dark);
    }

    &:not(:disabled):focus-visible {
        outline-color: var(--color-primary);
    }
}

@mixin btn-secondary {
    @include btn;
    background: var(--color-secondary);

    &:not(:disabled):hover,
    &:not(:disabled):focus {
        border-color: var(--color-secondary-light);
    }

    &:not(:disabled):focus-visible {
        outline-color: var(--color-secondary);
    }
}

@mixin btn-outline {
    @include btn;
    color: var(--color-primary);
    background: var(--color-white);
    border-color: currentColor;

    &:not(:disabled):hover,
    &:not(:disabled):focus {
        color: var(--color-primary-dark);
        border-color: currentColor;
    }

    &:not(:disabled):focus-visible {
        outline-color: currentColor;
    }
}

@mixin text-link {
    color: var(--color-primary);
    font-weight: $btn-font-weight;
    font-size: $btn-font-size;
    text-decoration: none;
    outline-offset: 4px;
    box-shadow: none;

    &:not(:disabled):hover,
    &:not(:disabled):focus {
        color: var(--color-primary-dark);

        &:after {
            background-color: currentColor;
        }
    }

    &:not(:disabled):focus-visible {
        outline: 1px dashed currentColor;
    }

    &:after {
        @include icon($icon-name: 'arrow', $icon-size: 0.66em);
        margin-left: 0.66em;
    }
}

.btn-primary {
    @include btn-primary;
}

.btn-secondary {
    @include btn-secondary;
}

.btn-outline {
    @include btn-outline;
}

.text-link {
    @include text-link;
}