.block-dropdown-language {
    margin-left: calc(#{$grid-gutter-width}/2);
    display: block;
    width: 100%;
    //max-width: 10rem;

    @include media-breakpoint-down(xl) {
        margin-left: 0;
    }

    fieldset {
        margin: 0;

        legend {
            @include visually-hidden;
        }
    }

    .dropbutton-multiple {
        cursor: pointer;
        
        .dropbutton-widget {
            border: none;
            padding: 0;
            position: relative;
            line-height: 1;
            border-radius: 100%;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            height: auto;
            display: block;
            width: 100%;

            .dropdown-language-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                box-shadow: none;
                border-radius: 25px;
                border: 1px solid $color-white;
                padding: 0.5rem 0.625rem;

                &:focus-within {
                    @include focus-box-shadow();
                }

                &:hover,
                &:focus-within {
                    background-color: $color-text;
                }

                > .dropbutton-action:first-of-type {
                    display: flex;
                    align-items: center;
                }

                .dropbutton-toggle {
                    button {
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        box-shadow: none;
                        text-decoration: none;

                        &:after {
                            content: '';
                            @include icon($icon-name: 'chevron-down', $icon-size: 0.8rem, $icon-color: $color-white);
                            color: $color-white;
                            @include center-absolute;
                        }

                        .dropbutton-arrow {
                            @include visually-hidden;
                        }
                    }
                }

                .dropbutton-action {
                    background-size: contain;
                    background-repeat: no-repeat;
                    height: 1.5rem;
                    border: none;
                    color: $color-white;
                    font-size: 1em;
                    width: 100%;
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;

                    a {
                        font-size: inherit;
                        height: 100%;
                        position: relative;
                        z-index: 10;
                        color: $color-white;
                    }

                    &.nl {
                        background-image: url("../images/language/NL.svg");
                    }

                    &.de {
                        background-image: url("../images/language/DE.svg");
                    }

                    &.en {
                        background-image: url("../images/language/GB.svg");
                    }

                    &.fr {
                        background-image: url("../images/language/FR.svg");
                    }

                    &:not(:first-of-type) {
                        margin-top: 1.5rem;
                    }
                }
            }
        }
    }
}