.teaser {
    .teaser-image {
        margin-bottom: 1.5rem;

        @include media-breakpoint-up(md) {
            margin-bottom: 2rem;
        }

        img {
            border-radius: $border-radius;
        }
    }
}