/*
	Place all styling that counts for the components that the user can add themself in this document.
	All styling below will be added to the editor.css.
	Pay attention! All specific classes that you add you will also have to add to the editor in Drupal.
*/

@mixin ckeditor() {
    ul, ol {
        margin-bottom: $paragraph-margin-bottom;
        margin-left: 1.3em;
        line-height: 1.5;
    }

    img {
        width: auto !important;
        height: auto !important;
        max-width: 100%;
    }

    table {
        width: 100%;
        max-width: 100%;

        tr {
            th {
                text-align: left;
                padding-left: 15px;
                font-weight: bold;
            }

            td {
                padding: 20px 15px;
            }
        }
    }

    .video-embed-field-responsive-video {
        margin-bottom: 1em;
        width: 100%;
    }
}
