{#
/**
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
**/
#}

{% if content %}
    <div{{ attributes.addClass(classes) }}>
        {% if content.header_content|render %}
            <div class="header-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            {{ content.header_content }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if content.flex_content|render %}
            <div class="flex-content-wrapper">
                {{ content.flex_content }}
            </div>
        {% endif %}
    </div>
{% endif %}
