* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html, body {
    overflow-x: hidden;
}

body {
    background-color: var(--color-white);
}

h1, h2, h3, h4, h5, h6, blockquote {
    margin: 0;
}

ul {
    margin: 0;

    li {
        padding: 0;
    }
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}

figure {
    margin: 0;
}

button {
    appearance: none;
    background: none;
    padding: 0;
    outline: none;
    border: 0;
    cursor: pointer;
}

:focus {
    outline: none;
}

:focus-visible {
    @include focus-box-shadow();
}

.row {
    @include make-row();
}

.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    @include make-container-max-widths();
}

.container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    @include make-container();
}