/*
    Accessibility
*/

// Hide element, show on screenreaders
.visually-hidden {
    @include visually-hidden;
}

/*
    Spacing
*/

.section-spacing-padding {
    @include section-spacing-padding;
}

.section-spacing-margin {
    @include section-spacing-margin;
}

/*
    Extra
*/

// White text/dia positive
.dark-theme {
    @include dark-theme;
}