{#
/**
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
**/
#}

{% set classes = [
    'layout',
    'teaser',
] %}

{% if content %}
    <article{{ attributes.addClass(classes) }}>
        <div class="inner">
            {% if content.teaser_image|render %}
                <div class="teaser-image">
                    {{ content.teaser_image }}
                </div>
            {% endif %}

            {% if content.teaser_text|render %}
                <div class="teaser-text">
                    {{ content.teaser_text }}
                </div>
            {% endif %}
        </div>
    </article>
{% endif %}