// Calculate the width of a Bootstrap column
// Use as: width: calc-col(9);
@function calc-col($col) {
    $result: ($col / 12);
    @return percentage($result);
}

//// Replace substring with another string
//@function str-replace($string, $search, $replace: '') {
//    $index: str-index($string, $search);
//    @if $index {
//        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
//    }
//    @return $string;
//}
//
//// Return CSS color variable with different opacity value
//// Use as: alpha(var(--CSS-var), 0.2); Where 0.2 is the opacity value
//@function alpha($color, $opacity) {
//    $color: str-replace($color, 'var(');
//    $color: str-replace($color, ')');
//    $color-h: var(#{$color+'-h'});
//    $color-s: var(#{$color+'-s'});
//    $color-l: var(#{$color+'-l'});
//    @return hsla($color-h, $color-s, $color-l, $opacity);
//}
//
//// Return CSS color variable with different lightness value
//// Use as: lightness(var(--CSS-var), 0.2); Where 0.2 is the lightness value.
//// When the value is low the color becomes darker, when the value is high the color becomes lighter
//@function lightness($color, $lightnessMultiplier) {
//    $color: str-replace($color, 'var(');
//    $color: str-replace($color, ')');
//    $color-h: var(#{$color+'-h'});
//    $color-s: var(#{$color+'-s'});
//    $color-l: var(#{$color+'-l'});
//    @return hsl($color-h, $color-s, calc(#{$color-l} * #{$lightnessMultiplier}));
//}