/**
 * Put all variables here that are necessary for this project
 * Group colors by starting their names with "color-"
 */
@use "sass:color";

// Colors
$colors: (
    "primary": hsl(29, 100%, 50%),
    "secondary": hsl(196, 100%, 9%),
    "text": hsl(196, 100%, 9%),
    "black": hsl(0, 0%, 0%),
    "white": hsl(0, 0%, 100%),
    "background": hsl(195, 9%, 91%),
    "danger": hsl(0, 79%, 63%),
    "warning": hsl(29, 100%, 50%),
    "valid": hsl(145, 63%, 42%),
);

:root {
    @each $name, $value in $colors {
        --color-#{$name}: #{$value};
        --color-#{$name}-light: #{color.adjust($value, $lightness: 50%)};
        --color-#{$name}-dark: #{color.adjust($value, $lightness: -10%)};
    }
}

// Font weights
$font-weight-normal:    400;
$font-weight-bold:      700;
$font-weight-base:      $font-weight-normal;

// Fonts
$font-family-base:    'Montserrat', sans-serif;
$font-family-titles:  $font-family-base;
$line-height-base:    1.5;

// Bootstrap grid
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1380px
);
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1320px
);

// Margins/Paddings
$paragraph-margin-bottom: 2rem;
$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
                (
                        0: 0,
                        1: ($spacer * .25),
                        2: ($spacer * .5),
                        3: $spacer,
                        4: ($spacer * 1.5),
                        5: ($spacer * 2),
                        6: ($spacer * 3),
                        7: ($spacer * 4),
                        8: ($spacer * 4.5)
                ),
                $spacers
);

// Border radius
$border-radius: 0.625rem;

// Transitions
$transition-hover: all 0.1s ease-in-out;

// Button styling
$btn-font-size:     1.125rem;
$btn-font-family:   $font-family-titles;
$btn-font-weight:   $font-weight-bold;
$btn-line-height:   1.272;
$btn-padding-y:     0.67em;
$btn-padding-x:     1.333em;
$btn-border-radius: 5px;
$btn-transition:    color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

// Input styling
$input-padding-y:           0.75rem;
$input-padding-x:           1rem;
$input-border-width:        1px;
$input-height-border:       $input-border-width * 2;
$input-height:              3.25rem;
$input-line-height:         $line-height-base;
$input-border-color:        color.adjust(map-get($colors, 'black'), $lightness: 80%);
$input-border-color-focus:  var(--color-black);
$input-border-radius:       0.3rem;
$input-font-size:           1em;
$input-color:               var(--color-text);
$input-placeholder-color:   #AAAAAA;
$input-bg:                  var(--color-white);
$checkbox-size:             1.25rem;
$checkbox-padding:          calc(#{$checkbox-size} + 0.5em);
$radio-size:                1.25rem;
$radio-padding:             calc(#{$radio-size} + 0.5em);
$form-switch-width:         3.625em;
$form-check-input-width:    2em;
$form-check-input-checked-bg-color: var(--color-valid);
$form-check-input-border:   1px solid $form-check-input-checked-bg-color;
$form-switch-bg-image:      url('../images/form/switch.svg');